build/

!demo/makefile_project/Makefile
demo/makefile_project/bdm_generated_code.cc
demo/makefile_project/*rdict.pcm
demo/makefile_project/makefile_project

**/.DS_Store

#----------------- vim ----------------------
*.swp
*.swo
.ctags

#----------------- intellij -----------------
.idea
cx3d-cpp.iml

#----------------- eclipse ------------------
.project
.cproject
.settings/

#----------------- VS Code ------------------
.vscode/*

#----------------- GNU global ------------------
GPATH
GRTAGS
GTAGS

#------------------- C++ --------------------
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.jnilib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#------------------- CMake --------------------
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

#------------------- Doxygen files --------------------
Doxyfile
doc/html
doc/latex

#------------------- Python --------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.html
*.ipynb
*.root
*.vtu
*.pvtu
