# Runs the installation tests and valgrind tests in the following cases:
#   1) every day at 3 am
#   2) a pull request to the master branch

name: CentOS System CI

on:
  schedule:
    # Every day at 3 am
    - cron: '0 3 * * *'
  pull_request:
    # Upon pull requests
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: centos:7

    steps:
    - name: Set GHA_BRANCH_NAME
      run: |
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          echo "::set-env name=GHA_BRANCH_NAME::${{ github.head_ref }}"
        fi
        if [ "${{ github.event_name }}" = "schedule" ]; then
          echo "::set-env name=GHA_BRANCH_NAME::${GITHUB_REF#refs/heads/}"
        fi

    - name: Set OSVERS
      run: |
        ID=$(grep -oP '(?<=^ID=).+' /etc/os-release | tr -d '"')
        VERSION=$(grep -oP '(?<=^VERSION_ID=).+' /etc/os-release | tr -d '"')
        echo "::set-env name=OSVERS::$ID-$VERSION"
    
      # Do this prior to Checkout BioDynaMo, because the CentOS docker container
      # does not come with git preinstalled. This would mess up later calls to 
      # `git describe --tags`
    - name: Install latest version of git
      shell: bash
      run: |
        yum install -y http://opensource.wandisco.com/centos/7/git/x86_64/wandisco-git-release-7-2.noarch.rpm
        yum install -y git

    - name: Install BioDynaMo
      shell: bash
      run: |
        yum update -y
        yum install -y sudo curl
        curl https://raw.githubusercontent.com/BioDynaMo/biodynamo/${GHA_BRANCH_NAME}/util/install | bash
      if: github.event_name == 'schedule' 

    - name: Checkout BioDynaMo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set INSTALL_DIR
      run: |
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          echo "::set-env name=INSTALL_DIR::${GITHUB_WORKSPACE}/build"
        fi
        if [ "${{ github.event_name }}" = "schedule" ]; then
          VERSION=`git describe --tags`
          REGEX='[^-]*'
          [[ $VERSION =~ $REGEX ]]
          echo "::set-env name=INSTALL_DIR::${HOME}/biodynamo-${BASH_REMATCH}"
        fi

    - name: Cache pyenv
      uses: actions/cache@v2
      id: pyenv-cache
      with:
        path: ~/.pyenv
        key: ${{ env.OSVERS }}-pyenv-3.8.0

    - name: Install pyenv dependency
      if: steps.pyenv-cache.outputs.cache-hit != 'true'
      run: |
        if [ ! -f "$HOME/.pyenv/bin/pyenv" ]; then
          curl https://pyenv.run | bash
        fi
        export PATH="$HOME/.pyenv/bin:$PATH"
        eval "$(pyenv init -)"
        PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.8.0
        pyenv shell 3.8.0

    - name: Cache Third Party Packages
      uses: actions/cache@v2
      with:
        path: build/third_party
        key: ${{ env.OSVERS }}-third-party-${{ hashFiles('cmake/external/SHA256Digests.cmake') }}

    - name: Install prerequisites
      run: |
        yum install -y sudo
        SILENT_INSTALL=1 ./prerequisites.sh all
      if: github.event_name == 'pull_request' 

    - name: Build BioDynaMo
      shell: bash
      run: |
        . scl_source enable devtoolset-7 || true
        . /etc/profile.d/modules.sh || true
        module load mpi
        cmake \
          -Dparaview=ON \
          -Dsbml=ON \
          -Dnuma=OFF \
          -DCMAKE_BUILD_TYPE=Release \
          -B build
        cmake --build build --parallel --config Release

    # Don't do this in the `Build BioDynaMo step`, because notebooks might time out in GHA
    # runners, while waiting for other targets to be compiled
    - name: Run notebooks
      shell: bash
      run: |
        cmake \
          -Dnotebooks=ON \
          -B build
        cmake --build build --parallel --config Release --target notebooks

    - name: Run system tests
      shell: bash
      working-directory: build
      run: |
        yum install -y xorg-x11-server-Xvfb fontconfig mesa-dri-drivers
        . scl_source enable devtoolset-7 || true
        . scl_source enable llvm-toolset-6.0 || true
        . /etc/profile.d/modules.sh || true
        module load mpi
        . $INSTALL_DIR/bin/thisbdm.sh
        git config --system user.name "Test User"
        git config --system user.email user@test.com
        export DISPLAY=:99.0
        ../util/xvfb-initd.sh start
        sleep 3
        make run-demos
        ../util/xvfb-initd.sh stop

    - name: Test out-of-source simulation
      shell: bash
      working-directory: build
      run: |
        . scl_source enable devtoolset-7 || true
        . scl_source enable llvm-toolset-6.0 || true
        . /etc/profile.d/modules.sh || true
        module load mpi
        . $INSTALL_DIR/bin/thisbdm.sh
        biodynamo new test-sim
        . ../test/util.inc
        export DISPLAY=:99.0
        ../util/xvfb-initd.sh start
        run_cmake_simulation test-sim
        ../util/xvfb-initd.sh stop

    - name: Notify Slack
      uses: 8398a7/action-slack@v3
      with:
        status: custom
        fields: workflow,job,commit,repo,ref,author,took,message
        custom_payload: |
          {
            username: 'GitHub CI',
            icon_emoji: ':octocat:',
            attachments: [{
              color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
              text: `${process.env.AS_WORKFLOW}\n${process.env.AS_JOB} (${process.env.AS_COMMIT}) of ${process.env.AS_REPO}@${process.env.AS_REF} by ${process.env.AS_AUTHOR} ${{ job.status }} in ${process.env.AS_TOOK}\n${process.env.AS_MESSAGE}`
            }]
          }
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always() # Pick up events even if the job fails or is canceled
